<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Bid Detail</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Amphitetris</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:main-page' %}">Home <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'owner:newtender'%}">New Tender</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">Logout</a>
              </li>
            </ul>
          </div>
        </nav>

  <div class="container">
      <div class="row">
      <div class="col-lg-6">
      <h4>Tender Detail</h4>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              <td scope="row">Vendor Name</td>
              <td scope="row">{{ bid.vendor.user.username }}</td>
              </tr>
              <tr>
              <td scope="row">Tender</td>
              <td scope="row">{{ tender.tender_title }}</td>
              </tr>
              <tr>
              <td scope="row">Price</td>
              <td scope="row">{{ bid.price }}</td>
              </tr>
              <tr>
              <td scope="row">Amount</td>
              <td scope="row">{{ bid.amount }}</td>
              </tr>
              <tr>
              <td scope="row">Prouct Description</td>
              <td scope="row">{{ bid.product_description }}</td>
              </tr>
              <tr>
              <td scope="row">Delivery Date</td>
              <td scope="row">{{ bid.delivery_date }}</td>
              </tr>
              </tr>
          </tbody>
        </table>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Place Order
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tender Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you place this tender?
                  </div>
                  <div class="modal-footer">
                        <a href="{% url 'owner:createorder' bid_id=bid.id%}" class="btn btn-primary" role="button">Yes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
  </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>