{% extends 'marketbase.html' %}
{% block content %}

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h2>Vendor's name: {{vendor.user.username}}</h2>
                            <p>Address: {{vendor.address}}</p>
                            <h4 class="card-title">Product's Name: {{product.product_name}}</h4>
                            <h6 class="card-text">Amount: {{product.amount}}</h6>
                            <h6>Price per unit: {{product.price_per_unit}}</h6>
                            <p>Description: {{product.product_description}}</p>

                            <form method="POST"
                                action="{%url 'market:productDetails' vendor.registration_num product.product_name %}">
                                {%csrf_token%}
                                <div class="form-group row">
                                    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="amount" name="amount"
                                            value={{product.amount}}>
                                    </div>
                                </div>
                                <input type="submit" value="Buy" class="btn btn-primary" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}